.phonebook_form {
  margin: 20px;
  border: 1px solid black;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
h2 {
  margin: 0;
}
.form_input {
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.submit_button {
  width: 100px;
  height: 30px;
  background: none;
  border-radius: 10px;
  border: 1px solid black;
}
.submit_button:hover,
.submit_button:focus {
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.404);
}
